name: macOS x86_64

on: [push, pull_request]

jobs:
  build:
    # continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        arch: [x86]

    runs-on: macos-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: Setup Homebrew
      run: |
        which brew
        if [ $? -ne 0 ]; then
          /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
        fi

    - name: Install Google Test
      run: brew install googletest

    - name: Setup CMake and Ninja
      uses: lukka/get-cmake@v3.21.1

    - name: Check Clang Version
      run: clang++ --version

    - name: Create build directory
      run: mkdir build

    - name: Configure CMake
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build --config Release

    - name: Test
      working-directory: build
      run: ctest